.DashboardPageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e9e9e9;
}

.DashboardTitle {
    flex-grow: 1;
    font-size: 22px;
    font-weight: 800;
}

.DashboardBreadcrumbs {
    display: inline-flex;
    align-items: center;
    margin: 32px 0px;
    font-size: 16px;
    color: gray;
}

.DashboardPageContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.DashboardBranding {
    margin-bottom: 20px;
}

.DashboardListSection {
    display: flex;
    flex-direction: column;
}

.DashboardListSection > span {
    font-size: 14px;
    color: gray;
    text-wrap: nowrap;
    margin-bottom: 15px;
}

.DashboardListItemLink, .DashboardListItemButton {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    color: black;
    border: 0;
    border-radius: 7px;
    text-decoration: none;
    background-color: transparent;
    text-wrap: nowrap;
}

.DashboardListItemLink:hover, .DashboardListItemButton:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.DashboardListItemLink > span > svg, .DashboardListItemButton > span > svg {
    margin-right: 30px;
}